[user]
	name = Andrew Hayworth
	email = ahayworth@gmail.com
[github]
	user = ahayworth
{{- if .mac }}
[credential]
	helper = osxkeychain
{{- end }}
[include]
  path = {{ .chezmoi.homeDir }}/.config/git/personal.gitconfig
{{- if and .work (not .devbox) }}
[url "git@github.com:"]
  insteadOf = https://github.com/
[core]
  hooksPath = {{ .chezmoi.homeDir }}/.config/git/hooks
{{- end }}
