shopt -s histappend
HISTCONTROL=ignoredups

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

source ~/.shell/common
source ~/.shell/aliases
source ~/.shell/functions

{{- if .mac }}
[ -d /Applications/Postgres.app/Contents/Versions/latest/bin ] && export PATH=${PATH}:/Applications/Postgres.app/Contents/Versions/latest/bin
{{- end }}

HISTSIZE=100000
HISTFILESIZE=100000
export PROMPT_COMMAND="history -a; history -n;"

# git completion
{{- if .mac }}
[ -f /usr/share/git/completion/git-prompt.sh ] && . /usr/share/git/completion/git-prompt.sh
[ -f /usr/share/git/completion/git-completion.bash ] && . /usr/share/git/completion/git-completion.bash
[ -f /etc/bash_completion.d/git-prompt ] && . /etc/bash_completion.d/git-prompt

[ -f /usr/local/etc/bash_completion ] && . /usr/local/etc/bash_completion
[ -f /usr/share/bash-completion/bash_completion ] && . /usr/share/bash-completion/bash_completion
[ -f /etc/bash_completion ] && . /etc/bash_completion
{{- else }}
if [ -f /usr/share/bash-completion/bash_completion ]; then
  . /usr/share/bash-completion/bash_completion
elif [ -f /etc/bash_completion ]; then
  . /etc/bash_completion
fi
{{- end }}

[ -f ~/.bash_aliases ] && . ~/.bash_aliases

command -v mise >/dev/null && eval "$(mise activate bash)"

eval "$(starship init bash)"
