[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  dark = true
[merge]
  conflictStyle = zdiff3
[user]
	name = Andrew Hayworth
	email = ahayworth@gmail.com
[github]
	user = ahayworth
{{- if .mac }}
[credential]
	helper = osxkeychain
{{- end }}
[alias]
  st = status
  co = checkout
  me = log --pretty=oneline --author=ahayworth
[pull]
  rebase = false
[init]
  defaultBranch = main
{{- if .work }}
[url "git@github.com:"]
  insteadOf = https://github.com/
[core]
  hooksPath = /Users/andrew/.config/git/hooks
{{- end }}
