HISTFILE=~/.histfile
HISTSIZE=100000
SAVEHIST=100000
setopt APPEND_HISTORY
setopt SHARE_HISTORY
setopt HIST_IGNORE_ALL_DUPS

unsetopt BEEP

bindkey -v
KEYTIMEOUT=1

source ~/.shell/common
source ~/.shell/aliases
source ~/.shell/functions

[[ -d {{ .homebrew_prefix }} ]] && path=({{ .homebrew_prefix }}/bin {{ .homebrew_prefix }}/sbin $path)

[[ -d ~/.zsh/fpath ]] && fpath=($fpath ~/.zsh/fpath)
{{- if .mac }}
[[ -d /opt/homebrew/share/zsh/site-functions ]] && fpath=($fpath /opt/homebrew/share/zsh/site-functions)
{{- else }}
[[ -d /usr/share/zsh/site-functions ]] && fpath=($fpath /usr/share/zsh/site-functions)
{{- end }}
autoload -Uz compinit && compinit

zstyle ':completion:*' menu select

autoload -U +X bashcompinit && bashcompinit

typeset -U path
[[ -d ~/bin ]] && path=(~/bin $path)
[[ -d ~/.local/bin ]] && path=(~/.local/bin $path)

command -v brew >/dev/null && eval "$({{ .homebrew_prefix }}/bin/brew shellenv)"
[[ -d /usr/local/go/bin ]] && path=($path /usr/local/go/bin)
[[ -d $HOME/go/bin ]] && path=($path $HOME/go/bin)
{{- if .work }}
source $HOME/.zshrc.work
{{- end }}

[[ -d $HOME/.cache/lm-studio/bin ]] && path=($path $HOME/.cache/lm-studio/bin)

eval "$(starship init zsh)"
eval "$(mise activate zsh)"
