alias gg='git grep -ni'
alias grep='grep --color=auto'

{{ if .mac -}}
alias ls='ls -G'
command -v colordiff >/dev/null && alias diff='colordiff'
{{ else -}}
alias ls='ls --color=auto'
alias diff='diff --color=auto'
{{ end -}}
